@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

.site-footer
{
    padding: 50px;
    padding-right: 0;
    padding-left: 0;
    background-color: rgb(19, 19, 19);
    font-size: 1em;

    .site-info-footer {
        text-align: center;
        color: white;
        margin: auto 20px;
    }

    .footer-c-logo {
        max-width: 150px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.site-header {
    padding: 50px 100px;
    background-color: #9ee0ff;
    min-height: 70vh;
}

.header-branding {
    display: flex;

    .header-image {
        max-width: 200px;
        margin-right: auto;
    }

    .header-lembaga-logo {
        display: flex;
        float: right;
        
        &--entity {
            max-width: 60px;
            margin: 10px;
        }
    }
}

.selamat-datang {
    margin: 50px auto;
    margin-top: 20px;
    text-align: center;
}


.site-main {
    padding: 50px 100px;
    max-width: 1200px;
    margin: auto;
}

.custnav {
    max-width: 1100px;
    margin: auto;
}

.customnavbar {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        background-color: #333;
        position: relative;
        line-height: 1.7;
        margin: 5px 10px;
        border-radius: 16px;
    }

    a {
        color: #fff;
        text-decoration: none;
        display: block;
    }

    ul > li {
        float: left;
    }

    ul > li > a{
        padding: 10px 10px;
    }

    ul > li:hover > a{
        background: #333;
        border-radius: 16px;
    }

    .sub-menu, .children {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 1;
        background: #333;
        //min-width: 200px;
        margin-top: 5px;
        border-radius: 16px;
        display: none;
    }

    li:hover > .sub-menu, li:hover > .children {
    display: block;
    }

    .sub-menu a, .children a {
    padding: 5px 10px;
    }

    .sub-menu li:hover a, .children li:hover a {
    color: rgb(0, 184, 197);
    }

    .sub-menu .sub-menu, .children .children {
    position: absolute;
    left: 100%;
    top: 0;
    background: #444;
    }
}

/*
.entry-preview {
    background-color: black;
    max-width: 300px;
    margin: 20px 30px;
}*/

@media only screen and (max-width: 600px) {
    
    .site-footer
    {
        font-size: 3.5vw;
    }

    .header-branding {
        padding: 0 10px;
    }

    .site-header {
        padding: 50px 0;
        //min-height: 70vh;
    }

    .selamat-datang {
        padding: 20px;
        padding-top: 0;
        margin-top: 0;
    }

    .site-main {
        padding: 50px 20px;
    }
}

@media only screen and (max-width: 850px) {

    .header-branding {
        margin: auto;
        display: block;

        .header-image {
            max-width: 200px;
            margin: auto;
        }
    
        .header-lembaga-logo {
            display: flex;
            float: none;
            margin: auto;
            margin-top: 20px;
            max-width: 300px;

            &--entity {
                max-width: 40px;
            }
        }
    }
}
